#list{
	list-style: none;
	position: relative;
	top: 100px;
	left: 100px;
	right: 100px;
	position: absolute;
}

#bg{
	background-color: aquamarine;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 600px;
	height: 600px;
	position: absolute;
	border-radius: 15px;//设置div圆角
}

#top{
	background-color: antiquewhite;
	height: 50px;
	border-radius: 15px 15px 0 0;
	position: relative;
}

#bottom{
	background-color: antiquewhite;
	height: 50px;
	width: 600px;
	border-radius:0 0 15px 15px;
	position: absolute;
	top: 550px;
}

#left{
	background-color: blue;
	width: 100px;
	height: 600px;
	border-radius: 15px 0 0 15px;
	position: absolute;
	top: 0;
}

#right{
	background-color: blue;
	width: 100px;
	height: 600px;
	border-radius: 0 15px 15px 0;
	position: absolute;
	top: 0;
	right: 0;
}

#middle{
	background-color: aqua;
	height: 50px;
	width: 600px;
	position: absolute;
	top: 50px;
}